@model Sim.UI.Web.SDE.ViewModels.VMEmpresa

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VMEmpresa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Abertura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Abertura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Empresarial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Empresarial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Fantasia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Fantasia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNAE_Principal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNAE_Principal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atividade_Principal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atividade_Principal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atividade_Secundarias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atividade_Secundarias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Natureza_Juridica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Natureza_Juridica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Municipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UF)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ente_Federativo_Resp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ente_Federativo_Resp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao_Cadastral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao_Cadastral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Situacao_Cadastral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Situacao_Cadastral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo_Situacao_Cadastral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo_Situacao_Cadastral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao_Especial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao_Especial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Situacao_Especial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Situacao_Especial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capital_Social)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capital_Social)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
